h1 {}
#danFrm {}
#danFrm fieldset {}
#danFrm fieldset .big {}
#danFrm fieldset #dan2 {background:pink;}
#danFrm fieldset #dan2Btn {}
#danFrm fieldset ul {}
#danFrm fieldset ul li {}
#danFrm fieldset ul li span {}
#danFrm fieldset ul li .que {background:orange;}
#danFrm fieldset ul li .result {
    width:70px; height:50px;
    background:blue; display:inline-block;}
#danFrm fieldset ul li button {width:50px; height:50px;}
#danFrm fieldset ul li #dan2_1 {}
#danFrm fieldset ul li #dan2_2 {}
#danFrm fieldset ul li #dan2_3 {}
#danFrm fieldset ul li #dan2_4 {}
#danFrm fieldset ul li #dan2_5 {}
#danFrm fieldset ul li #dan2_6 {}
#danFrm fieldset ul li #dan2_7 {}
#danFrm fieldset ul li #dan2_8 {}
#danFrm fieldset ul li #dan2_9 {}